<section class="container mx-auto px-4 mt-5">
  <div class="w-full flex">
    <div class="overflow-hidden">
      <div class="profile-image">
        <label *ngIf="uploadImage"
          class="md:h-64 md:w-64 flex flex-col items-center px-4 py-2 text-blue rounded-lg tracking-wide cursor-pointer hover:bg-blue hover:text-grbg-gray-100">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
          </svg>
          <span class="mt-2 text-xs text-gray-700 text-center">Selecciona la imágen</span>
          <input type='file' class="hidden" id="profile-file" *ngIf="uploadImage">
          <div class="w-full">
            <button class="w-full bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none" (click)="saveImage()">Guardar</button>
          </div>
        </label>
        <img class="h-32 w-32 md:w-64 md:h-64 rounded-full shadow-md" src="{{ _user.user?.filename }}" alt="Image"
          (dblclick)="uploadProfileImage()" *ngIf="!uploadImage">
      </div>
    </div>
    <div class="w-3/4 my-auto profile-name mx-auto">
      <div class="w-full md:w-1/2 location" *ngIf="showInput">
        <label class="tracking-wide text-gray-700 text-xs font-semibold mb-2" for="profile-username">
          Nombre de usuario
        </label>
        <input
          class="appearance-none block w-full bg-gray-100 text-gray-700 rounded py-2 px-4 mb-2 leading-tight focus:outline-none focus:bg-white"
          type="text" value="{{ _user.user?.username }}" id="profile-username">
          <div class="w-full flex justify-end" *ngIf="showInput || uploadImage">
            <button class="bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none" (click)="updateUsername()">Guardar</button>
          </div>
        </div>
      <h2 class="w-full ml-2 text-gray-700 text-2xl md:text-4xl font-bold cursor-pointer" (dblclick)="ableInput()" *ngIf="!showInput">
        {{ _user.user?.username }}</h2>
    </div>
  </div>
</section>

<!-- THIS HEADER APPEAR IN SMALL SCREENS -->
<ul class="flex border-b mt-4 md:hidden overflow-x-auto overflow-y-hidden">
  <li class="-mb-px mr-1">
    <a class="bg-red-400 inline-block border-l border-t border-r rounded-t py-2 px-4 text-gray-100 font-semibold" routerLink="/perfil">Perfil</a>
  </li>
  <li class="mr-1">
    <a class="bg-red-400 inline-block py-2 px-4 text-gray-100 font-semibold" routerLink="/perfil/historial">Historial</a>
  </li>
  <li class="mr-1">
    <a class="bg-red-400 inline-block py-2 px-4 text-gray-100 font-semibold" routerLink="/perfil/libros">Libros</a>
  </li>
  <li class="mr-1">
    <a class="bg-red-400 inline-block py-2 px-4 text-gray-100 font-semibold" routerLink="/perfil/reportes">Reportes</a>
  </li>
  <li class="mr-1">
    <a class="bg-red-400 inline-block py-2 px-4 text-gray-100 font-semibold" (click)="closeSession()">Salir</a>
  </li>
</ul>