<div class="inline-flex class mt-5">
  <a class="bg-red-400 hover:bg-gray-400 text-gray-100 font-semibold py-2 px-4 rounded-l mx-1" href="#">1</a>
  <a class="bg-red-400 hover:bg-gray-400 text-gray-100 font-semibold py-2 px-4 rounded-l mx-1" href="#">2</a>
  <a class="bg-red-400 hover:bg-gray-400 text-gray-100 font-semibold py-2 px-4 rounded-l mx-1" href="#">3</a>
  <a class="bg-red-400 hover:bg-gray-400 text-gray-100 font-semibold py-2 px-4 rounded-l mx-1" href="#">4</a>
  <a class="bg-red-400 hover:bg-gray-400 text-gray-100 font-semibold py-2 px-4 rounded-l mx-1" href="#">5</a>
</div>