<main class="flex h-full-sub-header">
    <article class="relative w-1/6 bg-gray-100 h-full">
        <div class="user-chat-contact w-full bg-gray-100 h-16 flex">
            <div class="user-chat-image w-1/2 py-2 px-4">
                <img class="w-12 h-12 rounded-full shadow-md" src="https://picsum.photos/id/1/200/300" alt="Image">
            </div>
            <div class="user-chat-name w-1/2 my-auto">
                <p class="text-gray-700 cursor-none">Usuario1344</p>
            </div>
        </div>
        <div class="user-chat-contact w-full bg-gray-100 h-16 flex">
            <div class="user-chat-image w-1/2 py-2 px-4">
                <img class="w-12 h-12 rounded-full shadow-md" src="https://picsum.photos/id/1/200/300" alt="Image">
            </div>
            <div class="user-chat-name w-1/2 my-auto">
                <p class="text-gray-700 cursor-none">Usuario1344</p>
            </div>
        </div>
    </article>
    <article class="relative w-5/6 max-h-full">
        <div class="user-chat-info w-full bg-gray-100 h-16 flex">
            <div class="user-chat-image w-1/2 py-2 px-4">
                <img class="w-12 h-12 rounded-full shadow-md" src="https://picsum.photos/id/1/200/300" alt="Image">
            </div>
            <div class="user-chat-name w-1/2 my-auto relative">
                <p class="text-gray-700 cursor-none">Usuario1344</p>
            </div>
        </div>
        <div class="user-chat-messages relative h-chat-messages overflow-auto py-2 px-4">
            <div class="w-full">
                <div class="w-full user-chat-message-local">
                    <p class="text-gray-700 text-lg">Hola como estas me interesa el libro.</p>
                </div>
                <div class="w-full user-chat-message-contact">
                    <p class="text-gray-700 text-lg">Por su pollo que si.</p>
                </div>
            </div>
        </div>
        <div class="user-chat-info w-full bg-gray-100 h-16 relative bottom-0 flex">
            <div class="user-chat-write w-full my-auto py-2 px-4">
                <input
                class="bg-gray-100 shadow appearance-none border rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none"
                id="write-message" type="text" placeholder="Escribe tu mensaje" autocomplete="off">
            </div>
            <div class="user-chat-send py-2 px-4">
                <button class="w-full bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none">Enviar</button>
            </div>
        </div>
    </article>
</main>