
<section class="mt-5">
  <div class="container mx-auto">
    <div class="flex">
      <app-categories class="w-1/5 px-4"></app-categories>
      <div class="w-4/5 books flex flex-wrap">
        <div class="w-full book-info flex flex-wrap">
          <h1 class="w-full text-4xl text-gray-700 font-bold">{{ book?.title }}</h1>
          <div class="book-image w-1/2">
            <div class="image pr-4">
              <img class="w-full" src="https://i.harperapps.com/covers/9780062951366/x510.jpg" alt="Image">
            </div>
            <div class="book-options pr-4 flex mt-2">
                <button class="w-1/2 mr-1 bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none">Solicitar EPUB</button>
                <button class="w-1/2 ml-1 bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none">Solicitar fisico</button>
                <a class="ml-1 w-4 py-2 px-4 text-red-400">&#9873;</a>
            </div>
          </div>
          <div class="book-info w-1/2">
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Autor: </span>{{ book?.author_id.name}}</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Género: </span>{{ book?.genre_id.name }}</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Número de páginas: </span>{{ book?.number_pages }}</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Idioma: </span>{{ book?.language_id.name }}</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Disponibilidad: </span>{{ book?.format_id | bookFormat }}</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">ISBN: </span>{{ book?.isbn }}</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Resumen: </span>{{ book?.summary }}</p>
            <div class="w-full">
              <a class="text-4xl cursor-pointer" (click)="updateRank(1)"><fa-icon [icon]="book?.rank | bookRank: 1" size="lg"></fa-icon></a>
              <a class="text-4xl cursor-pointer" (click)="updateRank(2)"><fa-icon [icon]="book?.rank | bookRank: 2" size="lg"></fa-icon></a>
              <a class="text-4xl cursor-pointer" (click)="updateRank(3)"><fa-icon [icon]="book?.rank | bookRank: 3" size="lg"></fa-icon></a>
              <a class="text-4xl cursor-pointer" (click)="updateRank(4)"><fa-icon [icon]="book?.rank | bookRank: 4" size="lg"></fa-icon></a>
              <a class="text-4xl cursor-pointer" (click)="updateRank(5)"><fa-icon [icon]="book?.rank | bookRank: 5" size="lg"></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>