<app-header-recent-books></app-header-recent-books>
<section class="mt-5">
  <div class="container mx-auto">
    <div class="flex">
      <app-categories class="w-1/5 px-4"></app-categories>
      <div class="w-4/5 books flex flex-wrap">
        <div class="w-full recent-books flex flex-wrap">
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
          <app-book-card class="w-1/4 px-4 mb-2"></app-book-card>
        </div>
        <div class="w-full pagination-books px-4 text-center">
          <app-pagination></app-pagination>
        </div>
      </div>
    </div>
  </div>
  <button class="btn-upload-book w-full bg-red-400 text-gray-100 font-semibold w-12 h-12 rounded-full focus:outline-none">
    Up
  </button>
</section>
<app-footer></app-footer>