<app-profile-header></app-profile-header>
<section class="mt-5">
  <div class="container mx-auto">
    <div class="flex">
      <app-profile-sidenav class="w-1/4 px-4"></app-profile-sidenav>
      <div class="history-data w-3/4 h-64 flex flex-wrap">
        <h2 class="w-full text-3xl font-semibold text-gray-700">Mis libros</h2>
        <div class="w-1/2 pr-4">
            <input
            class="bg-gray-100 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
            id="profile-searcher" type="text" placeholder="Buscar libro por título o ISBN" autocomplete="off">
        </div>
        <div class="w-full table-books">
          <table class="table-auto text-gray-700">
            <thead>
              <tr>
                <th class="px-4 py-2">ISBN</th>
                <th class="px-4 py-2">Título</th>
                <th class="px-4 py-2">Autor</th>
                <th class="px-4 py-2">Categoría</th>
                <th class="px-4 py-2">Páginas</th>
                <th class="px-4 py-2">Idioma</th>
                <th class="px-4 py-2">Editar</th>
                <th class="px-4 py-2">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books">
                <td class="px-4 py-2">{{ book?.isbn }}</td>
                <td class="px-4 py-2">{{ book?.title }}</td>
                <td class="px-4 py-2">{{ book?.author_id.name }}</td>
                <td class="px-4 py-2">{{ book?.genre_id.name }}</td>
                <td class="px-4 py-2">{{ book?.number_pages }}</td>
                <td class="px-4 py-2">{{ book?.language_id.name }}</td>
                <td class="px-4 py-2"><fa-icon [icon]="['fas', 'edit']" size="sm" [classes]="['text-gray-700', 'cursor-pointer']"></fa-icon></td>
                <td class="px-4 py-2"><fa-icon [icon]="['fas', 'trash']" size="sm" [classes]="['text-red-400', 'cursor-pointer']"></fa-icon></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
