<div class="modal" *ngIf="visible">
    <div class="modal-container">
        <div class="py-2 px-4">
            <div class="modal-header">
                <ng-content select="h2"></ng-content>
                <span (click)="hideModal()">X</span>
            </div>
            <div class="modal-body">
                <ng-content select=".content"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select=".footer"></ng-content>
            </div>
        </div>
    </div>
</div>