
<section class="mt-5">
  <div class="container mx-auto">
    <div class="flex">
      <app-categories class="w-1/5 px-4"></app-categories>
      <div class="w-4/5 books flex flex-wrap">
        <div class="w-full book-info flex flex-wrap">
          <h1 class="w-full text-4xl text-gray-700 font-bold">Título del libro xD</h1>
          <div class="book-image w-1/2">
            <div class="image pr-4">
              <img class="w-full" src="https://picsum.photos/id/0/300/500" alt="Image">
            </div>
            <div class="book-options pr-4 flex mt-2">
                <button class="w-1/2 mr-1 bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none">Solicitar EPUB</button>
                <button class="w-1/2 ml-1 bg-red-400 text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none">Solicitar fisico</button>
            </div>
          </div>
          <div class="book-info w-1/2">
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Autor: </span>Panfilo</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Categoría(s): </span>Tecnología</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Número de páginas: </span>274</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Idioma: </span>Español</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Disponibilidad: </span>Físico - Digital</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Fecha de lanzamiento: </span>11/04/2015</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">ISBN: </span>01255564851</p>
            <p class="font-semibold text-gray-700 text-lg py-2 w-auto"><span class="font-bold">Resumen: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio itaque alias architecto in esse pariatur quaerat doloribus beatae eum facilis earum, porro iusto minus molestiae, excepturi fugiat repudiandae assumenda reiciendis!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>