<app-profile-header></app-profile-header>
<section class="mt-5">
  <div class="container mx-auto">
    <div class="flex">
      <app-profile-sidenav class="w-1/4 px-4"></app-profile-sidenav>
      <div class="history-data w-3/4 h-64 flex flex-wrap">
        <h2 class="w-full text-3xl font-semibold text-gray-700">Historial</h2>
        <div class="w-full table-books">
          <table class="table-auto text-gray-700">
            <thead>
              <tr>
                <th class="px-4 py-2">Libro</th>
                <th class="px-4 py-2">Fecha de inicio</th>
                <th class="px-4 py-2">Fecha final</th>
                <th class="px-4 py-2">Prestamista</th>
                <th class="px-4 py-2">Solicitó</th>
                <th class="px-4 py-2">Tipo</th>
                <th class="px-4 py-2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let req of requested">
                <td class="px-4 py-2"><a [routerLink]="['/libros', req?.book_id?._id]" *ngIf="req?.book_id?._id">{{ req?.book_id?.title }}</a></td>
                <td class="px-4 py-2">{{ req?.start_date | date: 'dd/MM/yyyy' }}</td>
                <td class="px-4 py-2">{{ req?.end_date | date: 'dd/MM/yyyy' }}</td>
                <td class="px-4 py-2">{{ req?.lender_id.username }}</td>
                <td class="px-4 py-2">{{ req?.borrower_id.username }}</td>
                <td class="px-4 py-2">{{ req?.book_id?.format_id | bookFormat }}</td>
                <td class="px-4 py-2" *ngIf="req?.lender_id?._id !== req?.borrower_id?._id"><button class="footer bg-red-400 w-full text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none" (click)="showModal(req?.lender_id?._id, req?.borrower_id?._id, req?.book_id?._id)">Reportar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<app-modal [visible]="modal" (hide)="hideModal($event)">
  <div class="content py-2 px-4">
    <div class="w-full">
      <label class="tracking-wide text-gray-700 text-xs font-semibold mb-2" for="problem" >
        Problema *
      </label>
      <textarea class="resize-none appearance-none block w-full bg-gray-100 text-gray-700 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Describe tu problema aquí" id="problem" rows="5"></textarea>
    </div>
  </div>
  
  <button class="mr-2 footer bg-red-400 w-full text-gray-100 font-semibold py-2 px-4 rounded focus:outline-none" (click)="createReport()">Reportar</button>
</app-modal>