<app-profile-header></app-profile-header>
<section class="mt-5">
  <div class="container mx-auto">
    <div class="flex">
      <app-profile-sidenav class="w-1/4 px-4"></app-profile-sidenav>
      <div class="history-data w-3/4 h-64 flex flex-wrap">
        <h2 class="w-full text-3xl font-semibold text-gray-700">Historial</h2>
        <div class="w-full table-books">
          <table class="table-auto text-gray-700">
            <thead>
              <tr>
                <th class="px-4 py-2">Libro</th>
                <th class="px-4 py-2">Fecha de inicio</th>
                <th class="px-4 py-2">Fecha final</th>
                <th class="px-4 py-2">Prestamista</th>
                <th class="px-4 py-2">Solicitó</th>
                <th class="px-4 py-2">Tipo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let req of requested">
                <td class="px-4 py-2 cursor-pointer" [routerLink]="['/libros', req?.book_id._id]">{{ req?.book_id.title }}</td>
                <td class="px-4 py-2">{{ req?.start_date | date: 'dd/MM/yyyy' }}</td>
                <td class="px-4 py-2">{{ req?.end_date | date: 'dd/MM/yyyy' }}</td>
                <td class="px-4 py-2">{{ req?.lender_id.username }}</td>
                <td class="px-4 py-2">{{ req?.borrower_id.username }}</td>
                <td class="px-4 py-2">{{ req?.book_id.format_id | bookFormat }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>