<article>
	<div class="flex flex-wrap">
		<h2 class="text-3xl font-semibold text-gray-700">Categorías</h2>
		<ul class="flex flex-wrap list-none shadow-md bg-red-400 mt-1">
			<div class="w-full bg-red-500 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 1</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 2</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 3</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 4</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 5</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 6</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 7</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 8</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 9</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 10</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 11</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 12</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 13</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 14</li>
			</div>
			<div class="w-full bg-red-400 rounded-l">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">Categoría 15</li>
			</div>
		</ul>
	</div>
</article>