<nav class="flex items-center justify-between flex-wrap bg-red-400 w-full">
  <div class="container mx-auto px-4 flex justify-between">
    <div class="w-auto">
      <h2 class="text-4xl text-gray-100 font-bold">NWZ<span class="text-2xl font-semibold">.com</span></h2>
    </div>
    <div class="w-11/12 mx-10 my-auto">
      <input
        class="bg-gray-100 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
        id="searcher" type="text" placeholder="Buscar libro por título o ISBN" autocomplete="off">
    </div>
    <div class="w-1/6 my-auto">
      <button class="w-full bg-orange-100 text-gray-700 font-semibold py-2 px-4 rounded focus:outline-none">Iniciar
        sesión</button>
    </div>
  </div>
</nav>