<article>
	<div class="flex flex-wrap">
		<h2 class="w-full text-3xl font-semibold text-gray-700">Categorías</h2>
		<ul class="flex flex-wrap list-none shadow-md bg-red-400 mt-1">
			<div class="w-full bg-red-500 rounded">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 1</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 2</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 3</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 4</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 5</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 6</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 7</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 8</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 9</a>
				</li>
			</div>
			<div class="w-full">
				<li class="w-full text-gray-100 font-semibold text-sm py-2 px-4">
					<a routerLink="/">Categoría 10</a>
				</li>
			</div>
		</ul>
	</div>
</article>